*{
    margin: 0px;
    box-sizing: border-box;
}

header {
    background-color: rgb(16, 16, 16);
    position: fixed;
    height: 50px;
    width: 100%;
    font-family: 'Montserrat';
    font-size: 15px;
}

header nav {
    display: flex;
    justify-content: center; 
}


#home {
    width: 35px;
    height:40px;
    line-height: 50px;
    float: left;  
    display: block;
    margin: 4px; 
}


#menu2 {
    color:rgb(246, 191, 123);
}

header nav ul {
    list-style: none;
    display: flex;
    padding: 0px;
}

.lista {
    text-align: center;
    margin: 0 10px;
    line-height: 50px;
    text-transform: uppercase;
    color:white;
    
}

.link {
    color:white;
    padding: 8 12;
    text-decoration: none;
}

.link:hover {
    color: #9e9e9e;
    transition: 0.5s;   
    
}

body {
    background-color: rgb(31, 31, 31);
    font-family: 'Montserrat';
    font-size: 22px;
    display: flex;
    flex-direction: column;
    height:100vh;
    width:100vw;
}

#algo {
    flex:1;
    display: flex;
    align-items: center;    
    column-gap: 3%;
}

 #ktcentro {
 display: block;
 width: 270px;
 height: 330px;
 float:right;
 fill: white;
 }
 #ktcentro:hover {
    rotate: 10%;
 }
 
#about {
    width: 50%;  
    height: 343px;
    margin-left: 7%;
    display: flex;
    flex-direction: column; /* columnas ajuste */
    row-gap: 40px;
}

article p {
    color: rgb(255, 255, 255);
    text-align: justify;
    padding-left: 15%;
}

/* Texto central */

#hi {

    font-weight:bolder;
    font-size: 250%;
    font-family: 'Lato';
    padding-top: 15%;  /* no se como alinearlo */
}


#welcome {
    margin-top: -50px;
    font-size: 230%;
    font-weight: bolder;
    font-family: 'Lato';
}

#portfolio {
    margin-top: -50px;
    font-weight:normal;
    font-family: 'Lato';

}


/* Redes */ /* Redes */ /* Redes */ /* Redes */ /* Redes *//* Redes *//* Redes *//* Redes *//* Redes */



#redes {
    list-style: none;
    display: flex;
    justify-content:left;
    column-gap: 7%;
    padding-left: 15%;    
}

#instagram {
    width: 40px;
    height: 40px;
    float:left;
    fill:white;
    transition: fill linear 250ms;
    transition: transform ease-in-out 250ms; 

}

#instagram:hover {
    fill: #dc7a09;
    transform: translateY(-10px);
}

#linkedin {
    width: 40px;
    height: 40px;
    float:left;
    fill:white;
    transition: fill linear 250ms;
    transition: transform ease-in-out 250ms; 
}
#linkedin:hover {
    fill: #0077b5;
    transform: translateY(-10px);
}

#github{
    width: 43px;
    height: 43px;
    fill:white;
    transition: fill linear 250ms;
    transition: transform ease-in-out 250ms; 
}
#github:hover {
    fill: #000000;
    transform: translateY(-10px);
}

/* Redes *//* Redes *//* Redes *//* Redes *//* Redes *//* Redes *//* Redes *//* Redes *//* Redes *//* Redes */
 footer {
    background-color: rgb(16, 16, 16);
    width: 100%;
    padding: 0px 10%;
 }

 footer p {
    color: aliceblue;
    text-align: center;
    font-family: 'Lato';
    font-weight:normal;
    font-size: 11px;
 }